.root{
  -fx-background-color: rgb(130,130,130,1);
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-background-size: 100%;
   -fx-background-image: url('/images/logograyultra.png');

}
.button {
-fx-background-color: rgb(80,80,80,0.8);
   -fx-text-fill: white;
   -fx-font-family: HP Simplified;
   -fx-pref-width: 15em;
   -fx-pref-height:2em;
}
.label{
  -fx-text-fill: white;
  -fx-font-family: HP Simplified;
}
#wrongCredentialsLabel{
  -fx-text-fill: red;
}
#profileChoiceBox{
  -fx-background-color: rgb(80,80,80,0.8);
  -fx-pref-width: 30em;
  -fx-mark-color: green ;
}

.choice-box .context-menu {
    -fx-background-color: rgb(80,80,80,0.8);
}