#basicpane{
 -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-background-size: 100%;
   -fx-background-color: transparent;
   -fx-background-image: url('/images/studio.jpg');
}
#logo{
 -fx-fitWidth: 5em;
   -fx-fitHeight:5em;
}
.button{
   -fx-text-fill: black;
   -fx-font-family: HP Simplified;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-background-size: 100%;
   -fx-background-color: transparent;
   }
#allpicturesview{

   -fx-background-color: rgba(40,40, 40, 0.5);
   -fx-pref-width: 15em;
   -fx-pref-height:2em;
}
#login{
  -fx-font-size: 0.5em;
}
#rightbutton{
   -fx-pref-width: 60em;
   -fx-pref-height:30em;
   -fx-background-image: url('/images/arrowright.png');
}
#leftbutton{
-fx-pref-width: 60em;
   -fx-pref-height:30em;
   -fx-background-image: url('/images/arrowleft.png');
}

#logo{
    -fx-scale-y: 0.014em;
    -fx-scale-x: 0.014em;
}