.root{
  -fx-background-color: black;
}
.button {
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-background-size: 100%;
   -fx-background-color: transparent;
   -fx-pref-width: 4.5em;
   -fx-pref-height:4.5em;
}

#fullscreen{
 -fx-pref-width:100em;
 -fx-pref-height:100em;
}

#button6{
  -fx-background-color: red;

}