.root{

  -fx-background-color: dimgray;
}
#base{
  -fx-background-color: rgb(130,130,130,1);
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-background-size: 100%;
   -fx-background-image: url('/images/logograyultra.png');
}
#startbutton {
   -fx-background-color:   rgb(80,80,80,0.8);
   -fx-text-fill: white;
   -fx-font-family: HP Simplified;
   -fx-pref-height:1em;
   }

#edit{
   -fx-background-color:   rgb(80,80,80,0.8);
   -fx-text-fill: white;
   -fx-font-family: HP Simplified;
   -fx-pref-height:1em;
}