.root{
  -fx-background-color: dimgray;

}
#startbutton {
   -fx-background-color: darkgray;
   -fx-text-fill: white;
   -fx-font-family: HP Simplified;
   -fx-pref-width: 15em;
   -fx-pref-height:2em;
   }

#edit{
   -fx-background-color: darkgray;
   -fx-text-fill: white;
   -fx-font-family: HP Simplified;
   -fx-pref-width: 15em;
   -fx-pref-height:2em;
}