.root{
  -fx-background-color: black;
}
#hbox{
  -fx-background-color: black;
}
#basevbox{

  -fx-background-color: black;
   -fx-pref-width: 200em;
}
#title{
  -fx-text-fill: white;
  -fx-font-family: HP Simplified;
}
