#container{
 -fx-background-color: dimgray;
}
#setting{
    -fx-font-size: 2.5em;
  -fx-text-fill: white;
  -fx-font-family: HP Simplified;
}

.table-view .column-header{
    -fx-font-size: 0.8em;
}


.table-cell {
    -fx-font-size: 0.8em;
}

.button {
    -fx-font-size: 0.8em;
}

.choice-box{
  -fx-background-color: darkgray;
  -fx-pref-width: 30em;
  -fx-mark-color: green ;
}

.choice-box .context-menu {
    -fx-background-color: darkgray ;
}