#containerGrid{
  -fx-background-color: rgb(130,130,130,1);

}
#scrollpane{

  -fx-background-color: rgb(130,130,130,1);
}
#setting{
    -fx-font-size: 2.5em;
  -fx-text-fill: white;
  -fx-font-family: HP Simplified;
}


.titled-pane{


  -fx-font-family: HP Simplified;

  -fx-text-fill: white;
  -fx-background-color: rgb(130,130,130,1);
}
.titled-pane .title{
  -fx-text-fill: white;
  -fx-background-color: rgb(80,80,80,1);
}


.titled-pane .title .text{

  -fx-text-fill: white;
  -fx-font-family: HP Simplified;
  -fx-background-color: rgb(80,80,80,1);
}
.table-view .table-cell{
    -fx-font-size: 0.7em;
}


.label{

    -fx-font-size: 0.65em;
}

.scroll-pane .scroll-bar:vertical{
-fx-pref-width: 1.5em;

}