.root{
  -fx-background-color: dimgray;
}
.button {
-fx-background-color: darkgray;
   -fx-text-fill: white;
   -fx-font-family: HP Simplified;
   -fx-pref-width: 15em;
   -fx-pref-height:2em;
}
.label{
  -fx-text-fill: white;
  -fx-font-family: HP Simplified;
}
#mrerror{
    -fx-scale-y: 0.01em;
    -fx-scale-x: 0.01em;
}